<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>web</display-name>
	<servlet>
		<display-name>Login</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>web.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>OverTime</display-name>
		<servlet-name>CommitOverTimeServlet</servlet-name>
		<servlet-class>web.servlet.CommitOverTimeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommitOverTimeServlet</servlet-name>
		<url-pattern>/CommitOverTimeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>QueryWorktTimeServlet</display-name>
		<servlet-name>QueryWorktTimeServlet</servlet-name>
		<servlet-class>web.servlet.QueryWorktTimeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryWorktTimeServlet</servlet-name>
		<url-pattern>/QueryWorktTimeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>CommitTakeLeaveServlet</display-name>
		<servlet-name>CommitTakeLeaveServlet</servlet-name>
		<servlet-class>web.servlet.CommitTakeLeaveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommitTakeLeaveServlet</servlet-name>
		<url-pattern>/CommitTakeLeaveServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ReivewLeaveServlet</display-name>
		<servlet-name>ReivewLeaveServlet</servlet-name>
		<servlet-class>web.servlet.ReivewLeaveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReivewLeaveServlet</servlet-name>
		<url-pattern>/ReivewLeaveServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ReivewOverTimeServlet</display-name>
		<servlet-name>ReivewOverTimeServlet</servlet-name>
		<servlet-class>web.servlet.ReivewOverTimeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReivewOverTimeServlet</servlet-name>
		<url-pattern>/ReivewOverTimeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>QueryWorktHistoryServlet</display-name>
		<servlet-name>QueryWorktHistoryServlet</servlet-name>
		<servlet-class>web.servlet.QueryWorktHistoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryWorktHistoryServlet</servlet-name>
		<url-pattern>/QueryWorktHistoryServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>